@media screen and (max-width: 700px){
  .callback--inline{
	padding:20px;
	.callback__title{
	  font-size: 20px;
	}
	.callback__field-title{
	  display: block;
	  text-align: left;
	  padding-right: 0;
	  margin-bottom: 10px;
	  position: static;
	}
	.button{
	  font-size: 16px;
	  &--load{
		background: @link-color url(../img/default.svg) no-repeat center center;
		color: transparent;
		&:hover, &:focus{
		  background: @hover-color url(../img/default.svg) no-repeat center center;
		}

	  }
	}
  }
}