@media screen and (max-width: 1000px){
  .clients{
	&__client{
	  margin-bottom: 50px;
	}
	&__list{
	  flex-wrap: wrap;
	  max-width: 540px;
	  justify-content: space-between;
	}
  }
  .list-item{
	&__text{
	  max-width: 230px;
	}
  }
}
@media screen and (max-width: 600px){
  .clients{
	&__clients-logo{
	  justify-content: center;
	}
	&__list{
	  flex-wrap: wrap;
	  max-width: 300px;
	  justify-content: center;
	}

  }
}